{{- $context := .Context -}}
{{- $type := default "page" .Type -}}
{{- $result := dict "exists" false -}}

{{- if eq $type "opengraph" -}}
    {{- if $context.Params.image -}}
        {{- $result = merge $result (dict "exists" true "permalink" $context.Params.image) -}}
    {{- else -}}
        {{- $result = merge $result (dict "exists" false) -}}
    {{- end -}}
{{- else if eq $type "page" -}}
    {{- $image := "" -}}
    {{- with $context.Params.image -}}
        {{- $image = . -}}
    {{- end -}}
    
    {{- if $image -}}
        {{- $result = merge $result (dict "exists" true "permalink" $image) -}}
    {{- else -}}
        {{- $result = merge $result (dict "exists" false) -}}
    {{- end -}}
{{- else if eq $type "section" -}}
    {{- $image := "" -}}
    {{- with $context.Params.image -}}
        {{- $image = . -}}
    {{- end -}}
    
    {{- if $image -}}
        {{- $result = merge $result (dict "exists" true "permalink" $image) -}}
    {{- else -}}
        {{- $result = merge $result (dict "exists" false) -}}
    {{- end -}}
{{- else if eq $type "archive" -}}
    {{- /* No archive image needed */ -}}
{{- else if eq $type "rss" -}}
    {{- $image := "" -}}
    {{- with $context.Params.image -}}
        {{- $image = . -}}
    {{- end -}}
    
    {{- if $image -}}
        {{- $result = merge $result (dict "exists" true "permalink" $image) -}}
    {{- else -}}
        {{- $result = merge $result (dict "exists" false) -}}
    {{- end -}}
{{- end -}}

{{- return $result -}}
